# Auto-load the Nix flake devShell when entering this directory.
# Requires: direnv (https://direnv.net/) and nix with flakes enabled.
#
# Usage:
#   echo "eval \"\$(direnv hook bash)\"" >> ~/.bashrc   # or zsh/fish
#   direnv allow   # run once in this directory
#
# To skip direnv temporarily: DIRENV_SKIP=1 cd <dir>
use flake
